Repository jenkinsci/gitlab-plugin, pull requests merged in 2023-05, with the labels that each got.

#1463 Improve `RegexBasedFilter` doc
  README.md
Labels: doc improvement

#1288 Use BRANCH_NAME in environment as fallback
  src/main/java/com/dabsquared/gitlabjenkins/util/CommitStatusUpdater.java
Labels: bug

#1480 Fix Windows test by reverting to parent pom 4.63
  pom.xml
Labels: chore

#1483 Automatically sync the project branch every day
  .github/workflows/sync-project-branch.yml
Labels: chore

#1482 Clean build on project branch
  pom.xml
Labels: chore

#1479 Add META-INF/ to .gitignore
  .gitignore
Labels: chore

#1485 Add skipTests as true to maven-surefire-plugin previously overwritten
  Jenkinsfile
  pom.xml
Labels: chore
