Repository jenkinsci/gitlab-plugin, pull requests merged in 2023-08, with the labels that each got.

#1544 Fix for defect #695: permission check for multibranch pipelines
  src/main/java/com/dabsquared/gitlabjenkins/webhook/build/PushBuildAction.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/build/PushBuildActionTest.java
Labels: bug

#1560 Test with Java 21
  Jenkinsfile
Labels: test

#1563 Three tests are flaky
  src/test/java/com/dabsquared/gitlabjenkins/trigger/handler/merge/MergeRequestHookTriggerHandlerImplTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/handler/pipeline/PipelineHookTriggerHandlerImplTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/handler/push/PushHookTriggerHandlerImplTest.java
Labels: developer

#1567 Test with Java 17 and 21
  Jenkinsfile
Labels: test
