Repository jenkinsci/gitlab-plugin, pull requests merged in 2023-04, with the labels that each got.

#1452 Add .git-blame-ignore-revs with Spotless commit
  .git-blame-ignore-revs
Labels: chore

#1451 Add debugging instructions
  CONTRIBUTING.md
Labels: documentation

#1453 Replace mockito-inline with mockito-core
  pom.xml
Labels: test

#1455 Add getters to patch AcceptGitLabMergeRequestStep.java
  src/main/java/com/dabsquared/gitlabjenkins/workflow/AcceptGitLabMergeRequestStep.java
Labels: bug

#1457 Activate Spotless via Maven property rather than file
  .mvn_exec_spotless
  pom.xml
Labels: chore

#1459 Add support for Draft on the MR hook
  src/main/java/com/dabsquared/gitlabjenkins/trigger/handler/merge/MergeRequestHookTriggerHandlerImpl.java
Labels: bug
