Repository jenkinsci/gitlab-plugin, pull requests merged in 2024-01, with the labels that each got.

#1602 Add all trigger fields to the documentation
  README.md
Labels: documentation

#1607 Require Jenkins 2.401.3 or newer
  pom.xml
Labels: chore

#1606 Fix "Test Connection" button when used with Jackson 2.16.1 or later
  src/main/java/com/dabsquared/gitlabjenkins/gitlab/JacksonConfig.java
  src/main/java/com/dabsquared/gitlabjenkins/util/JsonUtil.java
Labels: bug

#1617 Fixed NPE error in AbstractWebHookTriggerHandler.java
  src/main/java/com/dabsquared/gitlabjenkins/trigger/handler/AbstractWebHookTriggerHandler.java
Labels: bug

#1619 Ensure Null Safety in GitLabConnectionProperty.java
  src/main/java/com/dabsquared/gitlabjenkins/connection/GitLabConnectionProperty.java
Labels: enhancement

#1621 Refactoring and simplifying the codebase
  src/main/java/com/dabsquared/gitlabjenkins/GitLabPushTrigger.java
  src/main/java/com/dabsquared/gitlabjenkins/gitlab/api/GitLabClientBuilder.java
  src/main/java/com/dabsquared/gitlabjenkins/publisher/GitLabMessagePublisher.java
  src/main/java/com/dabsquared/gitlabjenkins/trigger/handler/PendingBuildsHandler.java
  src/main/java/com/dabsquared/gitlabjenkins/webhook/build/BuildWebHookAction.java
  src/main/java/com/dabsquared/gitlabjenkins/webhook/status/BuildPageRedirectAction.java
  src/main/java/com/dabsquared/gitlabjenkins/workflow/GitLabCommitStatusStep.java
Labels: bug
