Repository jenkinsci/gitlab-plugin, pull requests merged in 2024-08, with the labels that each got.

#1676 Update Jenkins Security Scan action
  .github/workflows/jenkins-security-scan.yml
Labels: skip-changelog

#1678 [JENKINS-73135] Require Jenkins 2.472, adapt tests for Jetty 12 EE 8
  pom.xml
  src/test/java/com/dabsquared/gitlabjenkins/connection/GitLabConnectionConfigSSLTest.java
Labels: dependencies, chore, tests

#1681 Jenkins queue action added that mimics logic in PendingBuildsHandler to avoid pending pipelines for jobs dropped from the queue.
  .gitignore
  src/main/java/com/dabsquared/gitlabjenkins/action/BranchQueueAction.java
  src/main/java/com/dabsquared/gitlabjenkins/trigger/handler/AbstractWebHookTriggerHandler.java
  src/test/java/com/dabsquared/gitlabjenkins/action/BranchQueueActionTest.java
Labels: bug, skip-changelog, tests
