Repository jenkinsci/gitlab-plugin, pull requests merged in 2024-10, with the labels that each got.

#1702 Upgrade plugin parent POM to latest
  pom.xml
Labels: dependencies, java

#1704 Use scm.connection consistent with archetype
  pom.xml
Labels: dependencies, chore

#1706 Switch Note.id from Integer to Long
  src/main/java/com/dabsquared/gitlabjenkins/gitlab/api/model/Note.java
  src/main/java/com/dabsquared/gitlabjenkins/gitlab/hook/model/NoteObjectAttributes.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/handler/note/NoteHookTriggerHandlerImplTest.java
Labels: enhancement, tests

#1712 Avoid caching the credential, instead get the credential value whenever it is required through the request filter
  src/main/java/com/dabsquared/gitlabjenkins/connection/GitLabConnection.java
  src/main/java/com/dabsquared/gitlabjenkins/connection/GitlabCredentialResolver.java
  src/main/java/com/dabsquared/gitlabjenkins/gitlab/api/GitLabClientBuilder.java
  src/main/java/com/dabsquared/gitlabjenkins/gitlab/api/impl/AutodetectGitLabClientBuilder.java
  src/main/java/com/dabsquared/gitlabjenkins/gitlab/api/impl/AutodetectingGitLabClient.java
  src/main/java/com/dabsquared/gitlabjenkins/gitlab/api/impl/ResteasyGitLabClientBuilder.java
  src/test/java/com/dabsquared/gitlabjenkins/gitlab/api/impl/AutodetectingGitLabClientTest.java
  src/test/java/com/dabsquared/gitlabjenkins/gitlab/api/impl/TestUtility.java
  src/test/java/com/dabsquared/gitlabjenkins/testing/gitlab/rule/GitLabRule.java
Labels: bug, tests, hacktoberfest-accepted

#1713 Add merge request labels to environment variables
  README.md
  src/docker/README.md
  src/main/java/com/dabsquared/gitlabjenkins/cause/CauseData.java
  src/main/java/com/dabsquared/gitlabjenkins/trigger/handler/merge/MergeRequestHookTriggerHandlerImpl.java
  src/main/java/com/dabsquared/gitlabjenkins/workflow/GitLabMergeRequestLabelExistsStep.java
  src/test/java/com/dabsquared/gitlabjenkins/environment/GitLabEnvironmentContributorTest.java
  src/test/java/com/dabsquared/gitlabjenkins/workflow/GitLabMergeRequestLabelExistsStepTest.java
  src/test/resources/com/dabsquared/gitlabjenkins/workflow/pipeline/GitLabMergeRequestLabel-pipeline.groovy
Labels: documentation, tests, hacktoberfest-accepted

#1717 Handle merge request labels in Note Webhooks (comments)
  src/main/java/com/dabsquared/gitlabjenkins/gitlab/hook/model/MergeRequestObjectAttributes.java
  src/main/java/com/dabsquared/gitlabjenkins/trigger/handler/note/NoteHookTriggerHandlerImpl.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/handler/note/NoteHookTriggerHandlerImplTest.java
Labels: enhancement, tests, hacktoberfest-accepted

#1718 Require 2.479.1 LTS or newer
  pom.xml
Labels: dependencies, skip-changelog
