Repository jenkinsci/gitlab-plugin, pull requests merged in 2025-04, with the labels that each got.

#1754 Support withCredentials on GitLabApiToken(Impl)
  src/main/java/com/dabsquared/gitlabjenkins/connection/GitLabApiTokenBinding.java
  src/test/java/com/dabsquared/gitlabjenkins/connection/GitLabApiTokenBindingTest.java
  src/test/resources/com/dabsquared/gitlabjenkins/connection/pipeline/withCredentials-pipeline.groovy
Labels: tests

#1762 Migrate tests to JUnit5
  pom.xml
  src/test/java/com/dabsquared/gitlabjenkins/action/BranchQueueActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/connection/GitLabApiTokenBindingTest.java
  src/test/java/com/dabsquared/gitlabjenkins/connection/GitLabConnectionConfigAsCodeTest.java
  src/test/java/com/dabsquared/gitlabjenkins/connection/GitLabConnectionConfigSSLTest.java
  src/test/java/com/dabsquared/gitlabjenkins/connection/GitLabConnectionConfigTest.java
  src/test/java/com/dabsquared/gitlabjenkins/connection/GitLabConnectionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/environment/GitLabEnvironmentContributorTest.java
  src/test/java/com/dabsquared/gitlabjenkins/gitlab/api/GitLabClientBuilderTest.java
  src/test/java/com/dabsquared/gitlabjenkins/gitlab/api/impl/AutodetectingGitLabClientTest.java
  src/test/java/com/dabsquared/gitlabjenkins/gitlab/api/impl/ResteasyGitLabClientBuilderTest.java
  src/test/java/com/dabsquared/gitlabjenkins/gitlab/api/impl/TestUtility.java
  src/test/java/com/dabsquared/gitlabjenkins/publisher/GitLabAcceptMergeRequestPublisherTest.java
  src/test/java/com/dabsquared/gitlabjenkins/publisher/GitLabCommitStatusPublisherTest.java
  src/test/java/com/dabsquared/gitlabjenkins/publisher/GitLabMessagePublisherTest.java
  src/test/java/com/dabsquared/gitlabjenkins/publisher/GitLabVotePublisherTest.java
  src/test/java/com/dabsquared/gitlabjenkins/publisher/TestUtility.java
  src/test/java/com/dabsquared/gitlabjenkins/service/GitLabClientStub.java
  src/test/java/com/dabsquared/gitlabjenkins/service/GitLabProjectBranchesServiceTest.java
  src/test/java/com/dabsquared/gitlabjenkins/service/GitLabProjectLabelsServiceTest.java
  src/test/java/com/dabsquared/gitlabjenkins/testing/integration/GitLabIT.java
  src/test/java/com/dabsquared/gitlabjenkins/testing/testhelpers/GitLabUtility.java
  src/test/java/com/dabsquared/gitlabjenkins/testing/testhelpers/ProjectRequest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/filter/AllBranchesFilterTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/filter/BranchFilterFactoryTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/filter/MergeRequestLabelFilterImplTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/filter/NameBasedFilterTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/filter/RegexBasedFilterTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/handler/PendingBuildsHandlerTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/handler/merge/MergeRequestHookTriggerHandlerImplTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/handler/note/NoteHookTriggerHandlerImplTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/handler/pipeline/PipelineHookTriggerHandlerImplTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/handler/push/PushHookTriggerHandlerGitlabServerTest.java
  src/test/java/com/dabsquared/gitlabjenkins/trigger/handler/push/PushHookTriggerHandlerImplTest.java
  src/test/java/com/dabsquared/gitlabjenkins/util/BuildUtilTest.java
  src/test/java/com/dabsquared/gitlabjenkins/util/CommitStatusUpdaterTest.java
  src/test/java/com/dabsquared/gitlabjenkins/util/ProjectIdUtilTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/ActionResolverTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/build/BuildWebHookActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/build/MergeRequestBuildActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/build/NoteBuildActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/build/PipelineBuildActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/build/PushBuildActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/status/BranchBuildPageRedirectActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/status/BranchStatusPngActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/status/BuildPageRedirectActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/status/BuildStatusActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/status/CommitBuildPageRedirectActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/status/CommitStatusPngActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/status/StatusJsonActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/webhook/status/StatusPngActionTest.java
  src/test/java/com/dabsquared/gitlabjenkins/workflow/GitLabCommitStatusStepTest.java
  src/test/java/com/dabsquared/gitlabjenkins/workflow/GitLabMergeRequestLabelExistsStepTest.java
  src/test/java/com/dabsquared/gitlabjenkins/workflow/UpdateGitLabCommitStatusStepTest.java
Labels: dependencies, tests

#1764 Fix broken CI job URL in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation
